[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/diwakarthyagaraj
[access "refs/for/refs/*"]
	read = group user/diwakarthyagaraj
	push = group user/diwakarthyagaraj
	label-Code-Review = -2..+2 group user/diwakarthyagaraj
	label-Verified = -1..+1 group user/diwakarthyagaraj
	rebase = group user/diwakarthyagaraj
	removeReviewer = group user/diwakarthyagaraj
	submit = group user/diwakarthyagaraj
[access "refs/heads/*"]
	read = group user/diwakarthyagaraj
	create = group user/diwakarthyagaraj
	push = +force group user/diwakarthyagaraj
	pushMerge = group user/diwakarthyagaraj
[access "refs/tags/*"]
	push = group user/diwakarthyagaraj
	push = +force group user/diwakarthyagaraj
[receive]
	createNewChangeForAllNotInTarget = true
